.startMenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 170px;
  height: 165px;
  top: 32px;
  left: 5px;
  z-index: 999;

  background-color: var(--neutral-1);

  border-top: 2px solid var(--neutral-accent-light);
  border-left: 2px solid var(--neutral-accent-light);
  border-right: 2px solid var(--neutral-accent-dark);
  border-bottom: 2px solid var(--neutral-accent-dark);
}

.startMenuItem {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  width: 100%;
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.startMenuItem:active, .startMenuItem:hover {
  background-color: var(--active-primary);
  color: white;
}

.startMenuItem img {
  padding-right: 10px !important;
}
