.startMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 170px;
  height: 250px;
  top: 32px;
  left: 5px;
  z-index: 999;

  background-color: var(--neutral-1);

  border-top: 2px solid var(--neutral-accent-light);
  border-left: 2px solid var(--neutral-accent-light);
  border-right: 2px solid var(--neutral-accent-dark);
  border-bottom: 2px solid var(--neutral-accent-dark);
}