.appWindow {
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-1);
}

.windowTitle {
    height: 30px;
    background-color: var(--neutral-2);
}

.windowTitle.active {
    background-color: var(--active-primary);
}