.appWindow {
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-1);

    border-top: 1px solid var(--neutral-accent-light);
    border-left: 1px solid var(--neutral-accent-light);
    border-right: 1px solid var(--neutral-accent-dark);
    border-bottom: 1px solid var(--neutral-accent-dark);
}

.windowTitle {
    display: flex;
    align-items: center;
    padding: 0 5px;
    height: 30px;
    margin: 2px;
    color: var(--neutral-1);
    background-color: var(--neutral-2);
}

.windowTitle.active {
    color: var(--background);
    background-color: var(--active-primary);
}