:root {
  --active-primary:#00207f;
  --background-primary:#008081;
  --background: #f9f9f9;
  --neutral-1: #c3c3c3;
  --neutral-2: #7f8080;
  --neutral-3: #dedfde;
  --neutral-accent-light: #f9f9f9;
  --neutral-accent-dark: black;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--background-primary);
  color: white;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  font-family: 'W95FA', 'Microsoft Sans Serif', 'Times New Roman', Times, serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  font-family : inherit;
  font-size: 1em;
}

@font-face {
  font-family: 'W95FA';
  src: url('../public/W95FA.otf');
  src: url('../public/W95FA.woff');
  src: url('../public/W95FA.woff2');
  font-weight: 400;
  font-style: normal;
  }